In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("TripAdvisor Reviews.csv",encoding = "ISO-8859-1")
df.columns={'Rating','Reviews'}

In [3]:
df.shape

(427, 2)

In [4]:
df.head()

   Reviews                                             Rating
0        3  This place is an interesting mix of really coo...
1        5  Yes, we know the rooms are outdated and funky ...
2        5  We went to the Grand Canyon from Phoenix, so v...
3        4  This is my second stay at Monte Vista, it was ...
4        4  I am not sure why folks post such negative rev...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 2 columns):
Reviews    427 non-null int64
Rating     427 non-null object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB

In [6]:
df.describe()

          Reviews
count  427.000000
mean     3.259953
std      1.342817
min      1.000000
25%      2.000000
50%      4.000000
75%      4.000000
max      5.000000

In [8]:
pattern = '[\n]'

In [9]:
res =  re.compile(pattern)

In [13]:
df.Reviews.apply(lambda x: res.findall(str(x))).head()

0    []
1    []
2    []
3    []
4    []
Name: Reviews, dtype: object

In [15]:
pattern = '[period]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

TypeError: expected string or buffer

In [40]:
pattern = '[\d+]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0    []
1    []
2    []
3    []
4    []
Name: Reviews, dtype: object

In [33]:
pattern = '[0-9]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0    []
1    []
2    []
3    []
4    []
Name: Reviews, dtype: object

In [35]:
pattern = '[a-z-0-9]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x))

0    [h, i, s, p, l, a, c, e, i, s, a, n, i, n, t, ...
1    [e, s, w, e, k, n, o, w, t, h, e, r, o, o, m, ...
2    [e, w, e, n, t, t, o, t, h, e, r, a, n, d, a, ...
3    [h, i, s, i, s, m, y, s, e, c, o, n, d, s, t, ...
4    [a, m, n, o, t, s, u, r, e, w, h, y, f, o, l, ...
Name: Reviews, dtype: object

In [36]:
pattern = '[a-z]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     [h, i, s, p, l, a, c, e, i, s, a, n, i, n, t, ...
1     [e, s, w, e, k, n, o, w, t, h, e, r, o, o, m, ...
2     [e, w, e, n, t, t, o, t, h, e, r, a, n, d, a, ...
3     [h, i, s, i, s, m, y, s, e, c, o, n, d, s, t, ...
4     [a, m, n, o, t, s, u, r, e, w, h, y, f, o, l, ...
5     [h, i, s, i, s, a, g, o, o, d, h, i, s, t, o, ...
6     [r, e, a, t, p, l, a, c, e, t, o, s, t, a, y, ...
7     [y, h, u, s, b, a, n, d, a, n, d, w, e, r, e, ...
8     [f, y, o, u, l, i, k, e, s, t, a, y, i, n, g, ...
9     [l, e, g, a, n, t, a, n, d, a, r, t, d, e, c, ...
10    [k, n, e, w, t, h, i, s, c, o, u, l, d, b, e, ...
11    [l, e, a, s, a, n, t, l, y, s, u, r, p, r, i, ...
12    [r, e, a, t, l, o, c, a, t, i, o, n, a, n, d, ...
13    [o, o, d, o, c, a, t, e, d, p, r, e, t, t, y, ...
14    [y, s, i, s, t, e, r, a, n, d, s, t, a, y, e, ...
15    [h, a, v, e, a, l, w, a, y, s, w, a, n, t, e, ...
16    [o, t, h, i, n, g, l, i, k, e, s, t, a, y, i, ...
17    [f, y, o, u, a, r, e, a, f, a, n, o, f, h, i, ...
18    [h, i, s, p, l, a, c, e, i, s, a, l, l, a, n, ...
19    [l, a, g, s, t, a, f, f, i, s, f, u, l, l, o, ...
20    [w, a, s, s, h, o, c, k, e, d, w, h, e, n, w, ...
21    [e, s, t, o, p, p, e, d, i, n, t, h, e, b, a, ...
22    [h, e, b, e, s, t, c, a, n, s, a, y, i, s, t, ...
23    [h, e, o, n, t, e, i, s, t, a, i, s, s, i, t, ...
24    [o, u, l, d, l, i, k, e, d, t, o, g, i, v, e, ...
25    [e, a, d, i, n, g, f, o, r, h, o, e, n, i, x, ...
26    [e, a, r, r, i, v, e, d, b, y, r, a, i, l, h, ...
27    [o, t, a, f, a, n, u, r, r, o, o, m, w, a, s, ...
28    [e, r, y, r, e, a, s, o, n, a, b, l, e, p, r, ...
29    [h, e, o, t, e, l, o, n, t, e, i, s, t, a, i, ...
30    [h, i, s, o, l, d, h, i, s, t, o, r, i, c, d, ...
31    [r, e, a, t, p, l, a, c, e, o, m, f, o, r, t, ...
32    [i, c, e, t, o, s, e, e, t, h, a, t, t, h, e, ...
33    [h, i, s, h, i, s, t, o, r, i, c, r, e, n, o, ...
34    [e, h, a, d, f, r, i, e, n, d, s, s, t, a, y, ...
35    [e, r, y, c, l, o, s, e, t, o, t, h, e, m, t, ...
36    [l, a, s, s, i, c, e, a, r, l, y, t, h, e, n, ...
37    [e, s, t, a, y, e, d, h, e, r, e, t, h, e, d, ...
38    [y, w, i, f, e, a, n, d, w, e, r, e, o, n, o, ...
39    [m, y, g, i, r, l, f, r, i, e, n, d, a, n, d, ...
40    [v, e, r, p, r, i, c, e, d, e, r, y, n, o, i, ...
41    [l, d, o, t, e, l, i, n, t, h, e, i, d, d, l, ...
42    [a, l, w, a, y, s, l, i, k, e, t, o, s, t, a, ...
43    [y, b, o, y, f, r, i, e, n, d, a, n, d, s, t, ...
44    [h, i, s, h, o, t, e, l, m, o, r, e, l, e, s, ...
45    [e, s, t, a, y, e, d, i, n, t, h, i, s, h, o, ...
46    [r, e, a, t, h, i, s, t, o, r, i, c, a, l, p, ...
47    [h, a, t, a, w, o, n, d, e, r, f, u, l, e, x, ...
48    [r, e, a, t, h, o, t, e, l, i, f, y, o, u, r, ...
49    [s, t, a, y, e, d, a, t, t, h, e, o, n, t, e, ...
Name: Reviews, dtype: object

In [39]:
pattern = 'a{n,}'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

#/*regex = re.compile('\s+')
#text = """101 COM    Computers
#205 MAT   Mathematics
#189 ENG   English""" 
#re.split('\s+', text)
# or 
#regex.split(text)

0     []
1     []
2     []
3     []
4     []
5     []
6     []
7     []
8     []
9     []
10    []
11    []
12    []
13    []
14    []
15    []
16    []
17    []
18    []
19    []
20    []
21    []
22    []
23    []
24    []
25    []
26    []
27    []
28    []
29    []
30    []
31    []
32    []
33    []
34    []
35    []
36    []
37    []
38    []
39    []
40    []
41    []
42    []
43    []
44    []
45    []
46    []
47    []
48    []
49    []
Name: Reviews, dtype: object

In [41]:
pattern = 'a+'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
1            [a, a, a, a, a, a, a, a, a, a, a, a, a, a]
2     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
3      [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
4     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
5               [a, a, a, a, a, a, a, a, a, a, a, a, a]
6         [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
7     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
8            [a, a, a, a, a, a, a, a, a, a, a, a, a, a]
9      [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
10    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
11    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
12              [a, a, a, a, a, a, a, a, a, a, a, a, a]
13     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
14                    [a, a, a, a, a, a, a, a, a, a, a]
15    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
16    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
17              [a, a, a, a, a, a, a, a, a, a, a, a, a]
18    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
19    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
20                 [a, a, a, a, a, a, a, a, a, a, a, a]
21    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
22     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
23    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
24    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
25    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
26                 [a, a, a, a, a, a, a, a, a, a, a, a]
27           [a, a, a, a, a, a, a, a, a, a, a, a, a, a]
28    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
29    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
30           [a, a, a, a, a, a, a, a, a, a, a, a, a, a]
31    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
32              [a, a, a, a, a, a, a, a, a, a, a, a, a]
33    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
34    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
35        [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
36        [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
37     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
38              [a, a, a, a, a, a, a, a, a, a, a, a, a]
39     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
40        [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
41                    [a, a, a, a, a, a, a, a, a, a, a]
42    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
43    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
44              [a, a, a, a, a, a, a, a, a, a, a, a, a]
45     [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
46    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
47    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
48    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
49    [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
Name: Reviews, dtype: object

In [42]:
pattern = '[0-9]*'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     [, , , , , , , , , , , , , , , , , , , , , , ,...
1     [, , , , , , , , , , , , , , , , , , , , , , ,...
2     [, , , , , , , , , , , , , , , , , , , , , , ,...
3     [, , , , , , , , , , , , , , , , , , , , , , ,...
4     [, , , , , , , , , , , , , , , , , , , , , , ,...
5     [, , , , , , , , , , , , , , , , , , , , , , ,...
6     [, , , , , , , , , , , , , , , , , , , , , , ,...
7     [, , , , , , , , , , , , , , , , , , , , , , ,...
8     [, , , , , , , , , , , , , , , , , , , , , , ,...
9     [, , , , , , , , , , , , , , , , , , , , , , ,...
10    [, , , , , , , , , , , , , , , , , , , , , , ,...
11    [, , , , , , , , , , , , , , , , , , , , , , ,...
12    [, , , , , , , , , , , , , , , , , , , , , , ,...
13    [, , , , , , , , , , , , , , , , , , , , , , ,...
14    [, , , , , , , , , , , , , , , , , , , , , , ,...
15    [, , , , , , , , , , , , , , , , , , , , , , ,...
16    [, , , , , , , , , , , , , , , , , , , , , , ,...
17    [, , , , , , , , , , , , , , , , , , , , , , ,...
18    [, , , , , , , , , , , , , , , , , , , , , , ,...
19    [, , , , , , , , , , , , , , , , , , , , , , ,...
20    [, , , , , , , , , , , , , , , , , , , , , , ,...
21    [, , , , , , , , , , , , , , , , , , , , , , ,...
22    [, , , , , , , , , , , , , , , , , , , , , , ,...
23    [, , , , , , , , , , , , , , , , , , , , , , ,...
24    [, , , , , , , , , , , , , , , , , , , , , , ,...
25    [, , , , , , , , , , , , , , , , , , , , , , ,...
26    [, , , , , , , , , , , , , , , , , , , , 2, , ...
27    [, , , , , , , , , , , , , , , , , , , , , , ,...
28    [, , , , , , , , , , , , , , , , , , , , , , ,...
29    [, , , , , , , , , , , , , , , , , , , , , , ,...
30    [, , , , , , , , , , , , , , , , , , , , , , ,...
31    [, , , , , , , , , , , , , , , , , , , , , , ,...
32    [, , , , , , , , , , , , , , , , , , , , , , ,...
33    [, , , , , , , , , , , , , , , , , , , , , , ,...
34    [, , , , , , , , , , , , , , , , , , , , , , ,...
35    [, , , , , , , , , , , , , , , , , , , , , , ,...
36    [, , , , , , , , , , , , , , 20, , , , , , , ,...
37    [, , , , , , , , , , , , , , , , , , , , , , ,...
38    [, , , , , , , , , , , , , , , , , , , , , , ,...
39    [, , , , , , , , , , , , , , , , , , , , , , ,...
40    [, , , , , , , , , , , , , , , , , , , , , , ,...
41    [, , , , , , , , , , , , , , , , , , , , , , ,...
42    [, , , , , , , , , , , , , , , , , , , , , , ,...
43    [, , , , , , , , , , , , , , , , , , , , , , ,...
44    [, , , , , , , , , , , , , , , , , , , , , , ,...
45    [, , , , , , , , , , , , , , , , , , , , , , ,...
46    [, , , , , , , , , , , , , , , , , , , , , , ,...
47    [, , , , , , , , , , , , , , , , , , , , , , ,...
48    [, , , , , , , , , , , , , , , , , , , , , , ,...
49    [, , , , , , , , , , , , , , , , , , , , , , ,...
Name: Reviews, dtype: object

In [43]:
pattern = 'a?'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     [, , , , , , , a, , , , , , , a, , , , , , , ,...
1     [, , , , , , , , , , , , , , , , , , , , , , ,...
2     [, , , , , , , , , , , , , , , , , a, , , , , ...
3     [, , , , , , , , , , , , , , , , , , , , a, , ...
4     [, , a, , , , , , , , , , , , , , , , , , , , ...
5     [, , , , , , , , a, , , , , , , , , , , , , , ...
6     [, , , a, , , , , a, , , , , , , , , a, , , , ...
7     [, , , , , , , a, , , , a, , , , , , , , , , ,...
8     [, , , , , , , , , , , , , , a, , , , , , , , ...
9     [, , , , a, , , , a, , , , a, , , , , , , , , ...
10    [, , , , , , , , , , , , , , , , , , , , , , ,...
11    [, , , a, , a, , , , , , , , , , , , , , , , a...
12    [, , , a, , , , , , a, , , , , , a, , , , , , ...
13    [, , , , , , , , , a, , , , , , , , , , , , , ...
14    [, , , , , , , , , , a, , , , , , , , a, , , ,...
15    [, , , a, , , , a, , , a, , , , , a, , , , , ,...
16    [, , , , , , , , , , , , , , , a, , , , , , , ...
17    [, , , , , , , a, , , , a, , , a, , , , , , , ...
18    [, , , , , , , a, , , , , , , a, , , , , , , ,...
19    [, , a, , , , a, , , , , , , , , , , , , , , ,...
20    [, , , a, , , , , , , , , , , , , , , , , , , ...
21    [, , , , , , , , , , , , , , , , , , , a, , , ...
22    [, , , , , , , , , , , , a, , , , a, , , , , ,...
23    [, , , , , , , , , , , , , , a, , , , , , , , ...
24    [, , , , , , , , , , , , , , , , , , , , , , ,...
25    [, , a, , , , , , , , , , , , , , , , , , , a,...
26    [, , , a, , , , , , , , , , , , a, , , , , , ,...
27    [, , , , a, , , a, , , , , , , , , , , , , , a...
28    [, , , , , , , a, , , , a, , , , , , , , , , ,...
29    [, , , , , , , , , , , , , , , , , , , , a, , ...
30    [, , , , , , , , , , , , , , , , , , , , , , ,...
31    [, , , a, , , , , a, , , , , , , , , , , , a, ...
32    [, , , , , , , , , , , , , , a, , , , , , , , ...
33    [, , , , , , , , , , , , , , , , , , , a, , , ...
34    [, , , , a, , , , , , , , , , , , , a, , , , ,...
35    [, , , , , , , , , , , , , , , , , , , , , , a...
36    [, , a, , , , , , , a, , , , , , , , , , , , ,...
37    [, , , , , a, , , , , , , , , , , , , , , a, ,...
38    [, , , , , , , , a, , , , , , , , , , , , , , ...
39    [, , , , , , , , , , , , , , a, , , , , , , , ...
40    [, , , , , , , , , , , , , , , , , , , , , , ,...
41    [, , , , , , , , , , , , , , , , , , , , , , ,...
42    [, , a, , , a, , , , , , , , , , , , , , a, , ...
43    [, , , , , , , , , , , , , a, , , , , , , , a,...
44    [, , , , , , , , , , , , , , , , , , , , , , ,...
45    [, , , , , a, , , , , , , , , , , , , , , , , ...
46    [, , , a, , , , , , , , , , , a, , , , , , , ,...
47    [, , a, , , a, , , , , , , , , , , , , , , , ,...
48    [, , , a, , , , , , , , , , , , , , , , , , , ...
49    [, , , , a, , , , , a, , , , , , , , , , , , ,...
Name: Reviews, dtype: object

In [44]:
pattern = '[\b]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     []
1     []
2     []
3     []
4     []
5     []
6     []
7     []
8     []
9     []
10    []
11    []
12    []
13    []
14    []
15    []
16    []
17    []
18    []
19    []
20    []
21    []
22    []
23    []
24    []
25    []
26    []
27    []
28    []
29    []
30    []
31    []
32    []
33    []
34    []
35    []
36    []
37    []
38    []
39    []
40    []
41    []
42    []
43    []
44    []
45    []
46    []
47    []
48    []
49    []
Name: Reviews, dtype: object

In [67]:
import nltk
import re
email="awais@facebook.com"
res=re.findall(r"\w+",email)
print(str(res))

['awais', 'facebook', 'com']

In [69]:

email="yasir@google.com"
res=re.findall(r"\w+",email)
print(str(res))

['yasir', 'google', 'com']

In [70]:
email="mazhar@amazon.com"
res=re.findall(r"\w+",email)
print(str(res))

['mazhar', 'amazon', 'com']